


.App {
text-align: center;
  background:url("https://www.motortrend.com/uploads/sites/21/2019/08/David-Freiburger-Junkyard-Life.jpg");
  height: 750px;
font-family: "Allerta Stencil";

  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  color: white;
  font-size: 50px;
margin: 0;
}

h3 {
color: white;

}

.doberman {
  height: 200px;
  position: absolute;
  bottom: 110px;
  right: 145px;
}

.rottweiler {
  height: 150px;
  position: absolute;
  bottom: 245px;
  left: 145px;
}

.german_shephard {
  height: 180px;
  position: absolute;
  bottom: 10px;
  left: 600px;
}











